{% load static %}

<style>
  .bg-primaria { background-color: #038554; }
  .bg-secundaria { background-color: #6e1370; }
  .text-primaria { color: #038554; }
  .text-secundaria { color: #b695c0; }
  .bg-claro { background-color: #ecfdf4; }
</style>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa de Bem-Estar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <header class="text-center px-4 py-8 sm:py-10">
        <div class="flex flex-col items-center justify-center space-y-2 mb-2">
            <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-primaria">
              Pesquisa de Bem-Estar
            </h1>
        </div>
        <p class="text-gray-600 max-w-2xl mx-auto text-sm sm:text-base px-2">
            Sua opinião é fundamental para criarmos um ambiente de trabalho mais saudável e acolhedor.
        </p>
    </header>

    <main class="max-w-4xl mx-auto bg-white rounded-lg shadow p-6 sm:p-10 mb-10 mx-4 sm:mx-auto">
        <h2 class="text-lg sm:text-xl font-bold mb-1">
          Questionário de Saúde Mental e Bem-Estar no Trabalho
        </h2>
        <p class="text-gray-600 mb-8 text-xs sm:text-sm">
            Por favor, insira todos os seus dados.
        </p>

        <h3 class="text-primaria font-semibold mb-4 text-base sm:text-lg">
          Informações Pessoais
        </h3>
        
        {% if messages %}
            <ul class="messages mb-4 space-y-2">
                {% for message in messages %}
                    <li class="{{ message.tags }} p-3 rounded-lg bg-red-100 text-red-800 border border-red-200 text-sm">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'cadastrar_colaborador' %}" method="post" class="space-y-6">
            {% csrf_token %}          
            <script src="https://unpkg.com/imask"></script>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="nome" class="block text-gray-700 font-medium mb-1">Nome *</label>
                    <input id="nome" type="text" name="nome_completo" placeholder="Digite seu nome" required
                           class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                </div>  
                
                <div>
                    <label for="cpf" class="block text-gray-700 font-medium mb-1">CPF *</label>
                    <input id="cpf" type="text" name="cpf" placeholder="Digite seu CPF" required
                           class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                </div>  

                <div>
                    <label for="sexo" class="block text-gray-700 font-medium mb-1">Sexo *</label>
                    <select id="sexo" name="sexo" required
                            class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                        <option value="N">Outro </option>
                    </select>
                </div>

                <div>
                    <label for="nascimento" class="block text-gray-700 font-medium mb-1">Data de nascimento *</label>
                    <input id="nascimento" type="text" name="nascimento"  
                    placeholder="DD/MM/AAAA" required  
                    pattern="\d{2}/\d{2}/\d{4}"
                    class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                </div>
            
                <div>
                    <label for="email" class="block text-gray-700 font-medium mb-1">E-mail *</label>
                    <input id="email" type="email" name="email" placeholder="seu.email@exemplo.com" required
                           class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                </div>

                <div>
                    <label for="escolaridade" class="block text-gray-700 font-medium mb-1">Escolaridade *</label>
                    <select id="escolaridade" name="escolaridade" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="medio">Até Ensino Médio</option>
                        <option value="sup_inc">Superior Incompleto</option>
                        <option value="sup_comp">Superior Completo</option>
                        <option value="pos">Pós-Graduação</option>
                    </select>
                </div>

                <div>
                    <label for="estado_civil" class="block text-gray-700 font-medium mb-1">Estado Civil *</label>
                    <select id="estado_civil" name="estado_civil" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="casado">Casado(a) / União Estável</option>
                        <option value="divorciado">Divorciado(a) / Separado(a)</option>
                        <option value="viuvo">Viúvo(a)</option>
                    </select>
                </div>

                <div>
                    <label for="cargo" class="block text-gray-700 font-medium mb-1">Cargo *</label>
                    <select id="cargo" name="cargo" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="Cuidador(a)">Cuidador(a)</option>
                        <option value="Enfermeiro(a)">Enfermeiro(a)</option>
                        <option value="Técnico(a) de Enfermagem">Técnico(a) de Enfermagem</option>
                        <option value="Técnico(a) de Radiologia">Técnico(a) de Radiologia</option>
                        <option value="Maqueiro(a)">Maqueiro(a)</option>
                        <option value="Assistente Administrativo(a)">Assistente Administrativo(a)</option>
                        <option value="Auxiliar de Higienização">Auxiliar de Higienização</option>
                        <option value="Auxiliar de Farmácia">Auxiliar de Farmácia</option>
                        <option value="Auxiliar de Manutenção">Auxiliar de Manutenção</option>
                        <option value="Gestor Administrativo(a)">Gestor Administrativo(a)</option>
                        <option value="Vice Presidente Administrativo(a)">Vice Presidente Administrativo(a)</option>
                        <option value="Diretor(a)">Diretor(a) </option>
                        <option value="Atendimental ao Cooperado">Atendimento ao Cooperado </option>
                        <option value="Gestor(a) Financeiro">Gestor(a) Financeiro </option>
                        <option value="Gestor(a) Financeiro">Porteiro(a) </option>
                    </select>
                </div>

                <div>
                    <label for="local_trabalho" class="block text-gray-700 font-medium mb-1">Local de Trabalho *</label>
                    <select id="local_trabalho" name="local_trabalho" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="Hospital Santa Efigênia">Hospital Santa Efigênia</option>
                        <option value="Hospital Memorial Pernambuco">Hospital Memorial Pernambuco</option>
                        <option value="Hospital Memorial São Gabriel">Hospital Memorial São Gabriel</option>
                        <option value="Cemupe">Cemupe</option>
                        <option value="Clínica IMAX">Clínica IMAX</option>
                        <option value="Clínica Manoel Florêncio">Clínica Manoel Florêncio</option>
                        <option value="Clínica Multimagem">Clínica Multimagem</option>
                        <option value="Diagson">Diagson</option>
                        <option value="S.O.S Rim">S.O.S Rim</option>
                        <option value="Azzuro">Azzuro</option>
                        <option value="HOPE - CARUARU">HOPE - CARUARU</option>
                        <option value="SOCICLINICK - HOME CARE">SOCICLINICK - HOME CARE</option>
                        <option value="Hospital Albert Sabin">Hospital Albert Sabin</option>
                        <option value="TOP Imagem">TOP Imagem</option>
                        <option value="Home Care">Home Care</option>
                        <option value="Máxima Medicina do Trabalho">Máxima Medicina do Trabalho</option>
                        <option value="Espaço Varizes">Espaço Varizes</option>
                        <option value="G.E Clínicas">G.E Clínicas</option>
                        <option value="Home Care Pernambuco">Home Care Pernambuco</option>
                        <option value="Home Doctor">Home Doctor</option>
                        <option value="Hospital Albert Sabin">Hospital Albert Sabin</option>
                        <option value="ICIA">ICIA</option>
                        <option value="Instituto José Rocha de Sá">Instituto José Rocha de Sá</option>
                        <option value="Intensiva Day">Intensiva Day</option>
                        <option value="Laboratório Annalise">Laboratório Annalise</option>
                        <option value="NephronCare">NephronCare</option>
                        <option value="Clínica Viver Bem - Agrestina">Clínica Viver Bem - Agrestina</option>
                        <option value="CLÍNICA TERCEIRO PASSO">CLÍNICA TERCEIRO PASSO</option>
                        <option value="OK Doutor">OK Doutor</option>
                        <option value="Unicoop">Unicoop</option>
                    </select>
                </div>

                <div>
                    <label for="tempo_unicoop" class="block text-gray-700 font-medium mb-1">Tempo na Unicoop *</label>
                    <select id="tempo_unicoop" name="tempo_unicoop" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="ate6">Até 6 meses</option>
                        <option value="6a2">6 meses a 2 anos</option>
                        <option value="2a5">2 a 5 anos</option>
                        <option value="5a10">5 a 10 anos</option>
                    </select>
                </div>

                <div>
                    <label for="tempo_funcao" class="block text-gray-700 font-medium mb-1">Tempo na função atual *</label>
                    <select id="tempo_funcao" name="tempo_funcao" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="ate6">Até 6 meses</option>
                        <option value="6a2">6 meses a 2 anos</option>
                        <option value="2a5">2 a 5 anos</option>
                        <option value="5a10">5 a 10 anos</option>
                    </select>
                </div>

                <div>
                    <label for="cidade" class="block text-gray-700 font-medium mb-1">Cidade *</label>
                    <select id="cidade" name="cidade" required class="w-full border-gray-300 border rounded-lg p-3 focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out">
                        <option value="">Selecione...</option>
                        <option value="Maceió">Maceió</option>
                        <option value="Fortaleza">Fortaleza</option>
                        <option value="Campina Grande">Campina Grande</option>
                        <option value="João Pessoa">João Pessoa</option>
                        <option value="Bezerros">Bezerros</option>
                        <option value="Cabo de Santo Agostinho">Cabo de Santo Agostinho</option>
                        <option value="Camaragibe">Camaragibe</option>
                        <option value="Caruaru">Caruaru</option>
                        <option value="Garanhuns">Garanhuns</option>
                        <option value="Gravatá">Gravatá</option>
                        <option value="Jaboatão dos Guararapes">Jaboatão dos Guararapes</option>
                        <option value="Olinda">Olinda</option>
                        <option value="Recife">Recife</option>
                        <option value="Vitória de Santo Antão">Vitória de Santo Antão</option>
                        <option value="Bonito">Bonito</option>
                        <option value="Serra Talhada">Serra Talhada</option>
                        <option value="Arcoverde">Arcoverde</option>

                    </select>
                </div>

            </div> <div class="flex justify-center pt-4">
                <button type="submit"
                        class="w-full sm:w-auto bg-primaria hover:opacity-90 text-white px-8 py-3 rounded-lg font-medium text-center transition-opacity duration-200">
                    Começar questionário
                </button>
            </div>
        </form>
    </main>

    <script>
        // Máscara para CPF (000.000.000-00)
        IMask(document.getElementById('cpf'), { mask: '000.000.000-00' });

        // Máscara para Data (DD/MM/AAAA)
        IMask(document.getElementById('nascimento'), { mask: '00/00/0000' });
    </script>
    <script>
      function bloqueiaVoltar() {
          window.history.pushState(null, "", window.location.href);
      }
      bloqueiaVoltar();
      window.addEventListener("popstate", function () {
          alert("🚫 Você não pode voltar para a página anterior.");
          bloqueiaVoltar();
      });
    </script>
</body>
</html>