<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa de Bem-Estar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <!-- Header -->
    <header class="text-center py-10">
        <div class="flex justify-center items-center space-x-2 mb-2">
            <span class="text-green-600 text-3xl">❤</span>
            <h1 class="text-3xl font-bold text-green-700">Pesquisa de Bem-Estar</h1>
        </div>
        <p class="text-gray-600 max-w-2xl mx-auto">
            Sua opinião é fundamental para criarmos um ambiente de trabalho mais saudável e acolhedor.
        </p>
    </header>

    <!-- Formulário -->
    <main class="max-w-4xl mx-auto bg-white rounded-lg shadow p-10">
        <h2 class="text-xl font-bold mb-1">Questionário de Saúde Mental e Bem-Estar no Trabalho</h2>
        <p class="text-gray-600 mb-8 text-sm">
            Por favor, insira os seus dados. 
        </p>

        <!-- Informações Pessoais -->
        <h3 class="text-green-600 font-semibold mb-4">Informações Pessoais</h3>
        
        <!-- BLOCO DE MENSAGENS -->
        {% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: red;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

        <!-- FIM DO BLOCO DE MENSAGENS -->

        <form action="{% url 'cadastrar_colaborador' %}" method="post">
            {% csrf_token %}            
            <script src="https://unpkg.com/imask"></script>

            <!-- Grid dos campos -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-gray-700 font-medium mb-1">Nome</label>
                    <input id="nome" type="text" name="nome_completo" placeholder="Digite seu nome" required
                            class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                </div>  
                <!-- Nome -->
                <div>
                    <label class="block text-gray-700 font-medium mb-1">CPF</label>
                    <input id="cpf" type="text" name="cpf" placeholder="Digite seu CPF" required
                            class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                </div>  

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Sexo</label>
                    <select name="sexo" 
                            class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                        <option value="N">Outro </option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Data de nascimento</label>
                    <input id="nascimento" type="text" name="nascimento" placeholder="Digite sua data de nascimento" required
                            class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                </div>
            
                <!-- E-mail -->
                <div>
                    <label class="block text-gray-700 font-medium mb-1">E-mail</label>
                    <input type="email" name="email" placeholder="seu.email@hospital.com" required
                        class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Escolaridade</label>
                    <select name="escolaridade" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="medio">Até Ensino Médio</option>
                        <option value="sup_inc">Superior Incompleto</option>
                        <option value="sup_comp">Superior Completo</option>
                        <option value="pos">Pós-Graduação</option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Estado Civil</label>
                    <select name="estado_civil" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="casado">Casado(a) / União Estável</option>
                        <option value="divorciado">Divorciado(a) / Separado(a)</option>
                        <option value="viuvo">Viúvo(a)</option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Cargo</label>
                    <select name="cargo" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="Cuidador(a) de Idosos">Cuidador(a) de Idosos</option>
                        <option value="Enfermeiro(a)">Enfermeiro(a)</option>
                        <option value="Técnico(a) de Enfermagem">Técnico(a) de Enfermagem</option>
                        <option value="Copeira">Copeira</option>
                        <option value="Auxiliar de Higienização">Auxiliar de Higienização</option>
                        <option value="Auxiliar de Cozinha">Auxiliar de Cozinha</option>
                        <option value="Auxiliar de Farmácia">Auxiliar de Farmácia</option>
                        <option value="Farmacêutico(a)">Farmacêutico(a)</option>
                        <option value="Fisioterapeuta">Fisioterapeuta</option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Local de Trabalho</label>
                    <select name="local_trabalho" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="Hospital Santa Efigênia">Hospital Santa Efigênia</option>
                        <option value="Hospital Memorial Pernambuco">Hospital Memorial Pernambuco</option>
                        <option value="Hospital Memorial São Gabriel">Hospital Memorial São Gabriel</option>
                        <option value="Cemupe">Cemupe</option>
                        <option value="Clínica IMAX">Clínica IMAX</option>
                        <option value="Clínica Manoel Florêncio">Clínica Manoel Florêncio</option>
                        <option value="Clínica Multimagem">Clínica Multimagem</option>
                        <option value="Diagson">Diagson</option>
                        <option value="S.O.S Rim">S.O.S Rim</option>
                        <option value="Azzuro">Azzuro</option>
                        <option value="HOPE - CARUARU">HOPE - CARUARU</option>
                        <option value="SOCICLINICK - HOME CARE">SOCICLINICK - HOME CARE</option>
                        <option value="Hospital Albert Sabin">Hospital Albert Sabin</option>
                        <option value="TOP Imagem">TOP Imagem</option>
                        <option value="Home Care">Home Care</option>
                        <option value="Máxima Medicina do Trabalho">Máxima Medicina do Trabalho</option>
                        <option value="Espaço Varizes">Espaço Varizes</option>
                        <option value="G.E Clínicas">G.E Clínicas</option>
                        <option value="Home Care Pernambuco">Home Care Pernambuco</option>
                        <option value="Home Doctor">Home Doctor</option>
                        <option value="Hospital Albert Sabin">Hospital Albert Sabin</option>
                        <option value="ICIA">ICIA</option>
                        <option value="Instituto José Rocha de Sá">Instituto José Rocha de Sá</option>
                        <option value="Intensiva Day">Intensiva Day</option>
                        <option value="Laboratório Annalise">Laboratório Annalise</option>
                        <option value="NephronCare">NephronCare</option>
                        <option value="Clínica Viver Bem - Agrestina">Clínica Viver Bem - Agrestina</option>
                        <option value="CLÍNICA TERCEIRO PASSO">CLÍNICA TERCEIRO PASSO</option>
                        <option value="OK Doutor">OK Doutor</option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Tempo na Unicoop</label>
                    <select name="tempo_unicoop" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="ate6">Até 6 meses</option>
                        <option value="6a2">6 meses a 2 anos</option>
                        <option value="2a5">2 a 5 anos</option>
                        <option value="5a10">5 a 10 anos</option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Tempo na função atual</label>
                    <select name="tempo_funcao" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="ate6">Até 6 meses</option>
                        <option value="6a2">6 meses a 2 anos</option>
                        <option value="2a5">2 a 5 anos</option>
                        <option value="5a10">5 a 10 anos</option>
                    </select>
                </div>

                <div>
                    <label class="block text-gray-700 font-medium mb-1">Cidade</label>
                    <select name="cidade" class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-green-500">
                        <option value="">Selecione...</option>
                        <option value="Maceió">Maceió</option>
                        <option value="Fortaleza">Fortaleza</option>
                        <option value="Campina Grande">Campina Grande</option>
                        <option value="João Pessoa">João Pessoa</option>
                        <option value="Bezerros">Bezerros</option>
                        <option value="Cabo de Santo Agostinho">Cabo de Santo Agostinho</option>
                        <option value="Camaragibe">Camaragibe</option>
                        <option value="Caruaru">Caruaru</option>
                        <option value="Garanhuns">Garanhuns</option>
                        <option value="Gravatá">Gravatá</option>
                        <option value="Jaboatão dos Guararapes">Jaboatão dos Guararapes</option>
                        <option value="Olinda">Olinda</option>
                        <option value="Recife">Recife</option>
                        <option value="Vitória de Santo Antão">Vitória de Santo Antão</option>
                        <option value="Bonito">Bonito</option>
                        <option value="Serra Talhada">Serra Talhada</option>
                        <option value="Arcoverde">Arcoverde</option>
                    </select>
                </div>

            </div> <!-- fim da grid -->

            <!-- Botão dentro do form, mas fora da grid -->
            <div class="text-center mt-10">
                <button type="submit"
                    class="bg-green-600 text-white px-8 py-3 rounded-lg font-medium hover:bg-green-700">
                    Começar questionário
                </button>
            </div>
        </form>
    </main>

    <script>
        // Máscara para CPF (000.000.000-00)
        IMask(document.getElementById('cpf'), {
            mask: '000.000.000-00'
        });

        // Máscara para Data (DD/MM/AAAA)
        IMask(document.getElementById('nascimento'), {
            mask: '00/00/0000'
        });

        // Função toggleResposta
        function toggleResposta(id, mostrar) {
            const campo = document.getElementById(id);
            if (mostrar) {
                campo.classList.remove("hidden");
            } else {
                campo.classList.add("hidden");
            }
        }
    </script>
</body>
</html>
